body{
    width: auto;
    height: auto;
    opacity: 2;
    position: absolute;
    margin: auto;
    padding: 20px;
    left:0%;
    right: 0%;
    max-width: 100%;
}
body::after {
    content: "";
    width: auto;
    height: auto;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px){
    #wrapper{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}
.page-header {
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}

#loginForm {
    width: 75%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}